# Ejercicios de Regresión Lineal
En este notebook trabajaremos con algunos ejecicios simples de *Regresión Lineal* a fin que comiencen a adquirir  práctica con la metodología de resolución. Es objetivo de todos los ejercicios es el mismo: partiendo de un conjunto de datos de entrenamiento, estimar el modelo que mejor ajuste a los datos de test.

## Ejemplo

Para resolver los ejercicios les damos la estructura básica de programación para que no deban preocuparse del lenguaje de programación, sino que solamente se concentren en entender el procedimiento y analizar las salidas obtenidas a partir de diferentes entradas.

In [4]:
#Importamos el paquete pandas para tener la función read_csv para leer el dataset
import pandas as pd 

#Leemos el dataset configurando el simbolo decimal y de separación que tenga nuestro archivo
dataset = pd.read_csv("datasets/datasetInicial.csv",decimal=",",sep=";") 

#Llamamos una porción de nuestro dataset para verificar que esté bien cargado
dataset.iloc[0:10,:]

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       0   1725.55230
2   28    1  33.000         3       0       0   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520
5   31    0  25.740         0       0       0   3756.62160
6   46    0  33.440         1       0       0   8240.58960
7   37    0  27.740         3       0       3   7281.50560
8   37    1  29.830         2       0       2   6406.41070
9   60    0  25.840         0       0       3  28923.13692

In [14]:
#Guardamos la última columna como y y el resto como X
y=dataset.iloc[:,-1]
X=dataset.iloc[:,:-1]

Ahora usamos la función del paquete Scikit-Learn que vimos anteriormente

In [15]:
from sklearn.linear_model import LinearRegression 

lin_reg = LinearRegression()
lin_reg.fit(X,y)
lin_reg.intercept_, lin_reg.coef_

(-12907.696882586933,
 array([   256.96796596,   -128.95608532,    337.0245187 ,    468.35404686,
         23867.05868713,    297.83720698]))

Primero nos devuelve el valor del término independiente $\theta_0$, y luego de los demás en orden creciente ($\theta_1,\theta_2,\theta_3,...,\theta_{n-1},\theta_n$)